.product-grid{
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    width: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
}

.nav-link{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;

    &:hover{
        color: $primary;
    }
}

.nav-brand{
    color: $primary;
    font-size: 22px;
    text-decoration: none !important;

    &:hover{
        color: #C62828;
    }
}

.cat-btn{
    transition: transform 150ms ease-in-out;

    &:hover{
        filter: brightness(50%);
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
}
}