@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bas-font{
    font-family: 'Bebas Neue', cursive;
}

/* Text */
.text-14{
    font-size: 14px;
}

.text-white{
    color: white !important;

    svg{
        color: white !important;
    }

    &:hover{
        color: #F44336;
    }
}

.dec-none{
    text-decoration: none;
}

/* Text color */
.color-primary{
    color: $primary ; 
}

.gray42{
    color: $gray42;
}

.gray75{
    color: $gray75
}

.gray9e{
    color: $gray9e
}